/***Developed by
* FALUA TEMITOPE OYEWOLE
* faluatemitopeo@gmail.com
* Web Developer, Emmathem Media Company,
* Planet Nest
* 27TH OF MAY, 2017
*/
/**
 * ensures that vertically aligned children don't appear blurry
 */
/**
 * vertically aligns an element
 */
/*
    Keyframes
    Credits: https://gist.github.com/Integralist/3931680
*/
/*
    Transform
    Credits: https://codepen.io/sawmac/pen/qGudy/
*/
/*
    Style placeholder
    Credits: http://stackoverflow.com/questions/17181849/placeholder-mixin-scss-css
*/
/* Fonts are defined herein */
/* line 12, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5 ease;
  transition: all 0.5s ease;
  overflow: hidden; }
  /* line 19, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
  #wrapper .toggled {
    padding-left: 250px;
    overflow: hidden; }
    /* line 22, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
    #wrapper .toggled #sidebar-wrapper {
      width: 250px; }
    /* line 25, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
    #wrapper .toggled #page-content-wrapper {
      position: relative;
      margin-right: 0px; }

/* line 31, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/* line 45, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
.fixed-brand {
  width: auto; }

/* line 48, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
#page-content-wrapper {
  position: absolute;
  padding: 15px;
  width: 100%;
  overflow-x: hidden; }

/* line 54, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
.xyz {
  min-width: 360px; }

/*sidebar style*/
/* line 60, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
.sidebar-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px; }
  /* line 69, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
  .sidebar-nav li {
    text-indent: 15px;
    line-height: 40px; }
    /* line 72, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
    .sidebar-nav li a {
      display: block;
      text-decoration: none;
      color: #666; }
      /* line 76, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
      .sidebar-nav li a:hover {
        text-decoration: none;
        color: #FFF;
        background: rgba(255, 255, 255, 0.2);
        border-left: 2px solid #F00; }
      /* line 82, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
      .sidebar-nav li a:active, .sidebar-nav li a :focus {
        text-decoration: none; }
  /* line 87, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
  .sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px; }
    /* line 91, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
    .sidebar-nav > .sidebar-brand a {
      color: #999; }
      /* line 93, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
      .sidebar-nav > .sidebar-brand a:hover {
        color: #FFF;
        background: none; }

/* line 100, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
.no-margin {
  margin: 0; }

@media (min-width: 768px) {
  /* line 104, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
  #wrapper {
    padding-left: 250px; }
    /* line 106, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
    #wrapper .toggled {
      padding-left: 0; }
      /* line 108, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
      #wrapper .toggled #sidebar-wrapper {
        width: 250px; }
      /* line 111, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
      #wrapper .toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-right: 250px; }
    /* line 118, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
    #wrapper .toggled-2 #sidebar-wrapper {
      width: 50px; }
      /* line 120, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
      #wrapper .toggled-2 #sidebar-wrapper::hover {
        width: 250px; }
    /* line 124, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
    #wrapper .toggled-2 #page-content-wrapper {
      position: relative;
      margin-right: 0;
      margin-left: -200px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      width: auto; }
  /* line 136, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
  #sidebar-wrapper {
    width: 250px; }
  /* line 139, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
  .fixed-brand {
    width: 250px; }
  /* line 142, ../../wamp64/www/cvbuilder/assets/scss/dashboard.scss */
  #page-content-wrapper {
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; } }

/*# sourceMappingURL=dashboard.css.map */