/***This stylesheet is developed
* by
* FALUA TEMITOPE OYEWOLE
* 27TH OF MAY, 2017
*/

html,
body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.nav,
nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: block;
        .navlink:active,
        .navlink:hover,
        .navlink:focus {
            background: none;
            color: #888 !important;
        }
    }
    a {
        display: block;
        padding: 6px 6px;
        text-decoration: none;
        color: purple;
    }
    .active {
        background: none !important;
    }
}

.navbar {
    background: #fff;
    min-height: 4.0em;
    padding: 5px 5px;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
}

#footer {
    bottom: 0;
    width: 100%;
    min-height: 4.5em;
    background-color: #111;
    color: #fff;
}

.header-wrapper-carousel {
    overflow: auto;
    width: 100vm;
    margin-top: 2%;
}

.navbar-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 20;
    .container {
        padding-right: 0;
        padding-left: 0;
        .navbar {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}

.header {
    width: 100%;
}

.item {
    position: relative;
    overflow: auto;
    .hwc-inner {
        display: block;
        z-index: 10000000000000;
        color: white;
        h4 {
            padding-top: 20vh;
            padding-bottom: 10vh;
            margin: auto;
            text-align: center;
            color: #fff;
            line-height: 2.8em;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        p {
            font-style: italic;
            font-size: 1.5em;
            color: #dfdfdf;
            font-weight: 300px;
        }
    }
}

#item-1 {
    background: url(../images/bg_12.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    min-height: 70vh;
    padding-top: 0em;
    width: 100%;
}

#item-2 {
    background: url(../images/bg_11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    min-height: 70vh;
    padding-top: 0em;
    width: 100%;
}

#item-3 {
    background: url(../images/bg-13.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 70vh;
    padding-top: 0em;
    width: 100%;
}

.slide-cover {
    background: #000;
    content: "";
    opacity: 0.30;
    min-height: 100%;
    overflow: auto;
    width: 100%;
    position: absolute;
}

.btn-get-start {
    background: #FFF;
    border: 1px solid #056786;
    border-radius: 2px;
    boder: 1px solid #056786;
    color: #056786;
}

.btn-get-start:hover {
    background-color: #056786;
    padding: 8px 8px;
    color: #FFF;
}

.cv-info-section {
    position: relative;
    margin: auto;
    height: 400px;
    padding-bottom: 2%;
    .cv-info-section-inner {
    text-align: center;
    padding-top:1%; 
    padding-bottom: 2%;
    h3 {
        color: #986754;
        text-align: center;
        font-weight: bold;
    }
    .cv-info-context {
        color: #333;
        font-weight: lighter;
        padding-bottom: .25em;
        line-height: 2em;
    }
    padding-bottom: 5%;
}
}
.cv-info-slide {
    padding-top: 10rem;
    margin: 0;
    @media(width: 475px) {
        padding-top: 2rem;
    }
}
.about-us-over {
    background: url(../images/b_17.jpg);
    height: 400px;
    position: relative;
    box-sizing: content-box;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    overflow: auto;
    .about-us-inner {
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: center;
        h3 {
            color: #FFF;
            font-weight: bold;
            text-shadow: gray 2px 2px 3px;
        }
    }
    @media(max-width: 1024px) {
        h4 {
            color: white;
            font-size: 2em;
            line-height: 1.4em;
        }
    }
}

.about-us-cover {
    background: #785658;
    content: "";
    opacity: 0.69;
    min-height: 100%;
    overflow: auto;
    width: 100%;
    position: absolute;
}

.cv-image {
    background: url('../images/b_1.jpg');
    background-repeat: no-repeat;
    float: left;
    margin: 0;
}

.cv-div {
    background: none;
    width: 100%;
    position: relative;
    h3 {
        font-weight: bold;
        text-transform: capitalize;
        color: white;
        text-shadow: #111 2px 1px 2px;
    }
}

.cv-btn {
    padding: 15px 15px;
    border-radius: 2px;
    background: #FFF;
    opacity: .78;
    font-size: 1.5rem;
    width: 15vw;
    color: #084655;
    font-weight: bold;
    @media (width: 645px) {
        display: inline-block;
        width: 3vw;
    }
}

.cv-btn-1 {
    border: 1px solid #957675;
}

.cv-btn-2 {
    border: 1px solid #5334f2;
}

.cv-btn-3 {
    border: 1px solid #987423;
}

.cv-updates {

    height: 500px;
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.cv-updates-inner {
    position: absolute;
    width: 100%;
    padding-top: 1%;
    text-align: center;
    h3 {
        color: #986754;
        font-weight: bold;
    }
}

.cv-update-form {
    border-radius: 0px !important;
    box-shadow: none !important;
    border: 1px solid #734353;
    padding: 10px 15px;
    width: 30vw;
    display: block;
}

.btn-cv {
    background: #734353;
    color: white;
    width: 10%;
    border-radius: 0px !important;
    padding: 10px;
    border: 1px solid #734353;
}

.cv-image-update {
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    background-origin: content-box;
    height: 100%;
}

.cv-testimony {
    position: relative;
    background: url(../images/handup.jpg);
    height: 400px;
    box-sizing: content-box;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    overflow: auto;
    .cv-testimony-inner {
	    padding-top: 1%;
        color: #fff;
        h3{
            text-align: center;
            font-weight: bold;
            color: #FFF;
        }
    }
}
.cv-testimony-cover {
    background: #888;
    content: "";
    opacity: 0.69;
    min-height: 100%;
    overflow: auto;
    width: 100%;
    position: absolute;
    
}
.about-page {
    position: relative;
    background: linear-gradient(#156434, darkgreen);
    height: 400px;
    color: #FFF;
    overflow: auto;
    h2 {
        text-align: center;
        padding-top: 13%;
        font-weight: bold;
        color: #fff;
        font-size: 4em;
    }
}
.about-us-context {
    margin-top: 2%;
    margin-bottom: 2%;
    line-height: 30px;
    text-align: justify;
}
@media (width : 475px) {
    .about-page {
	position: absolute;
    height: 200px;
        h2{
            padding-top: 5%;
            font-size: 2em;
        }
    }
}
.about-page-bg {
    position: relative;
    background: url(../images/ab-bg.jpg);
    box-sizing: content-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #111;
    overflow: auto;
    
}
.about-page-cover {
    background: #fff;
    content: " ";
    opacity: 0.95;
    min-height: 100%;
    overflow: auto;
    width: 100%;
    position: absolute;    
}
.contact-page {
    position: relative;
    background: url(../images/b_17.jpg);
    box-sizing: content-box;
    background-position: right;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    color: aliceblue;
}
.contact-page-cover {
    background: #fff;
    content: " ";
    opacity: 0.95;
    min-height: 100%;
    overflow: auto;
    width: 100%;
    position: absolute; 
}